.news-con {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em !IMPORTANT;
	background-color: white;
	padding: 20px;
	margin-top: 10%;
	margin-bottom: 10%;
}

.news-con h1 {
	font-size: 3em !IMPORTANT;
}

.news-con h2 {
	font-size: 2.5em !IMPORTANT;
}

.news-con h3 {
	font-size: 2em !IMPORTANT;
}

.news-con h4 {
	font-size: 1.5em !IMPORTANT;
}

.news-con li, .news-con li strong, .news-con a {
	font-size: 1.5em !IMPORTANT;
}

.news-con a {
	color: black;
}

.news-con ol {
	margin-left: 50px;
}

@media screen and (max-width: 800px) {
	.news-con {
		width: 90%;
		padding: 10px;
		font-size: 1em;
	}
	.news-con h1 {
		font-size: 1.75em !IMPORTANT;
	}
	.news-con h2 {
		font-size: 1.5em !IMPORTANT;
	}
	.news-con h3 {
		font-size: 1.25em !IMPORTANT;
	}
	.news-con h4 {
		font-size: 1em !IMPORTANT;
	}
	.news-con li, .news-con li strong, .news-con a {
		font-size: 1em !IMPORTANT;
	}
	.news-con ol {
		margin-left: 20px;
	}
}

.report {
	width: 50%;
	background-color: white;
	margin-top: 10%;
	margin-left: 25%;
	margin-right: auto;
	margin-bottom: 5%;
	display: block;
	padding: 50px;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
}

.report h1 {
	font-size: 2em;
	margin-bottom: 5%;
}

.report form {
	float: left;
	width: 100%;
}

.report label {
	font-size: 1.5em;
	float: left;
}

.report input, .report select, .report textarea {
	font-size: 1.5em;
	float: right;
	width: 100%;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid black;
}

.report textarea {
	border: 1px solid black;
	resize: none;
}

.report input:read-only {
	color: grey;
}

.report form button {
	width: 100%;
	border: none;
	background-color: #ed2d2d;
	color: white;
	font-size: 1.5em;
	cursor: pointer;
}

.errorInput {
	border-bottom: 1px solid #ed2d2d !IMPORTANT;
}

.clickable {
	cursor: pointer;
	padding: 50px;
	text-align: center;
	font-weight: bold;
	width: 50%;
	font-size: 2em;
	float: left;
	margin-left: 25%;
	margin-right: auto;
	margin-top: 5%;
}

#errorSame {
	background-color: #ed2d2d;
}

#thanks {
	background-color: #2dfc16;
}