.register {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
	background-color: white/*#a4a5a4*/;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	margin-top: 9%;
	margin-bottom: 5px;
}

.register h3 {
	font-size: 1.75rem;
	font-family: 'Oswald', sans-serif;
}

.register ul li input {
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #e2e2e2;
	background-color: transparent;
	transition: border-color .5s;
}

.register ul li input, label {
	float: left;
}

.register ul li input:focus {
	border-color: #29ef13;
	outline: none;
}

.register ul li button {
	box-sizing: border-box;
	background-color: #e84343;
	color: white;
	border: none;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	cursor: pointer;
}

.register .questionmark {
	display: inline-block;
	text-decoration: none;
	float: right;
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	.register {
		width: 80%;
		margin-top: 75px;
		margin-bottom: 100px;
	}
}